<% provide(:title, "contacts") %>

<div class="row">
	<%= form_for(:invitation, url: invitations_path) do |f| %>
		<div>
			<% email_array = [] %>
			<% @contacts.each do |contact| %>
				<% email_array << contact[:email] %>

				<%= check_box_tag :recipient_email, email_array %>
				<%= f.label :recipient_email, "#{contact[:name]} | #{contact[:email]}" %>
				
			<% end %>
		</div>
		<%= f.submit "send" %>
	<% end %>
</div>

